.header {
  display: flex;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  border-radius: 10px;
  background-color: black;
}

.tab-title {
  flex: 2.5;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.tab-title:hover {
  background-color: dimgray;
}

.tab-title-text {
  font-family: 'Tektur', cursive;
  font-size: 1.7em;
  color: lightgray;
}

.tab {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.tab:hover {
  background-color: gray;
}

.tab-text {
  font-family: 'Tektur', cursive;
  font-size: 1em;
  color: lightgray;
}

.tab-blank {
  flex: 5;
}