.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.title {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
}