.index {
  align-items: center;
  text-align: center;
  margin: 5%;
}

.title {
  font-family: 'Tektur', cursive;
  font-size: 6em;
  color: black;
}

.title-button {
  font-family: 'Tektur', cursive;
  font-size: 1em;
  height: 3em;
  width: 15em;
  margin-top: 2.5em;
  border-radius: 10px;
  color: lightgray;
  background-color: black;
  border-color: gray;
}

.title-button:hover {
  background-color: dimgray;
}